.login-button-container {
  position: absolute;
  top: 20px; 
  left: 20px; 
}

.sign-in{
  position: absolute;
  top: 20px; 
  left: 150px; 
}

.login-button-container2{
  position: absolute;
  top: 20px; 
  left: 20px; 
}

.home {
  text-align: center;
  margin-top: 20px;
}
